{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/css/index.css">
{{/extend}}

<div class="hotels-wrap">
    {{#each items}}
        <a href="/hotel/{{url}}" class="hotels" style="background-image: url('/{{image}}')">
            <p><span>{{title}}</span></p>
        </a>
    {{/each}}
</div>
